<!-- Removed <%= notice %> from the p#notice because it created 2 boxes showing that todo list was created, now only blue box shows-->
<p id="notice"></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
